.text-field {
    position: relative;
}

.text-field label {
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 10px;
    background-color: var(--brown);
    padding: 1px 5px;
    font-size: 12px;
    transform: translateY(-50%);
    color: var(--purple);
}

.text-field input {
    padding: 15px;
    display: block;
    width: 100%;
    font-size: 14px;
    border: 1px solid var(--purple);
    border-radius: 8px;
    background-color: transparent;
    color: var(--text-primary);
    outline: none;
}

.label-upload {
    width: 100%;
    display: block;
    padding: 12px;
    border-radius: 8px;
    border: 1px dashed var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-upload .btn-upload {
    padding: 12px;
    border-radius: 8px;
    background-color: var(--purple);
    color: var(--background);
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    overflow: hidden;
    width: 50%;
    font-size: 14px;
}

.label-upload .btn-upload:hover {
    opacity: 0.8;
}

.show-upload {
    width: 50%;
    margin-left: 12px;
    max-width: 100%;
    overflow: hidden;
}

.skeleton {
    background-color: var(--loading-background);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.0), var(--loading), rgba(255, 255, 255, 0.0));
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: shine 1s ease infinite;
}

@keyframes shine {
    to {
        background-position: right -40px top 0;
    }
}

.loading {
    z-index: 11;
    position: fixed;
    background-color: var(--background);
    color: (var(--text-primary));
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-content .logo {
    overflow: hidden;
    animation: ball 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite alternate;
}

.loading .text-loading {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    animation: toTop all 1s ease;
}

@keyframes ball {
    100% {
        transform: translateY(-20px);
    }
}

.music-waves {
    position: relative;
}

.music-waves span {
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: 0;
    background: #000;
    animation: waves 0.5s infinite ease;
}

.music-waves span:nth-child(1) {
    animation-delay: 0.3s;
    background: #ff8c00;
}

.music-waves span:nth-child(2) {
    margin-left: 7px;
    animation-delay: 0.4s;
    background: #ffff00;
}

.music-waves span:nth-child(3) {
    margin-left: 14px;
    animation-delay: 0.6s;
    background: #26d53a;
}

.music-waves span:nth-child(4) {
    margin-left: 21px;
    animation-delay: 0.8s;
    background: #26e6a3;
}

.music-waves span:nth-child(5) {
    margin-left: 28px;
    animation-delay: 1s;
    background: #1da8e2;
}

@keyframes waves {
    0% {
        height: 5px;
    }

    30% {
        height: 15px;
    }

    60% {
        height: 20px;
    }

    80% {
        height: 15px;
    }

    100% {
        height: 5px;
    }
}