.header-wrapper {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brown);
    transition: all 0.3s ease;
}