.slider-wrapper {
    margin: 0 -5px;
    overflow: hidden;
}

.slide {
    height: 300px;
    padding: 0 5px 0 5px;
    transition: all 0.3s ease;
}

.slide img {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    object-fit: cover;
    transition: all 0.3s linear;
}